.App {
  text-align: center;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 62.5%; /* Set to 62.5% to make 1rem equal to 10px */
/* Prevent horizontal scroll */
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0; /* Reset margin */
  padding-top: 80px; /* Padding to avoid overlap with fixed header */
}

